<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Relationship with ID:
      <%= @relationship.id %></h2>
  </div>
</div>

<section class="widget">
  <p>
    <strong>Uuid:</strong>
    <%= @relationship.uuid %>
  </p>

  <p>
    <strong>Relationship type:</strong>
    <%= @relationship.relationship_type_id %>
  </p>

  <p>
    <strong>Participant owner uuid:</strong>
    <%= @relationship.participant_owner_uuid %>
  </p>

  <p>
    <strong>Participant related uuid:</strong>
    <%= @relationship.participant_related_uuid %>
  </p>

  <%= link_to 'Edit Relationship', edit_project_participant_relationship_path(current_project, @participant, @relationship), class: 'btn btn-primary' %>
</section>