<%= form_for(@participant_attribute) do |f| %>
  <% if @participant_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant_attribute.errors.count, "error") %> prohibited this participant_attribute from being saved:</h2>

      <ul>
      <% @participant_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :participant_id %><br>
    <%= f.number_field :participant_id %>
  </div>
  <div class="field">
    <%= f.label :attribute_id %><br>
    <%= f.number_field :attribute_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
