<div class="row">
<div class="col-md-12">
    <h2 class="page-title">Attributes for Participant <%= @participant.id %></h2>
    
<section class="widget">
<table class="table table-striped no-margin sources-table">
  <thead>
    <tr>
      <th>Participant ID</th>
      <th>Property ID</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @participant_attributes.each do |participant_attribute| %>
      <tr>
        <td><%= participant_attribute.participant_id %></td>
        <td><%= participant_attribute.property_id %></td>
        <td><%= participant_attribute.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Participant Attribute', new_participant_participant_attribute_path(@participant), class: 'btn btn-primary' %>
</section>
