<h1>Listing participant_attributes</h1>

<table>
  <thead>
    <tr>
      <th>Participant</th>
      <th>Attribute</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participant_attributes.each do |participant_attribute| %>
      <tr>
        <td><%= participant_attribute.participant_id %></td>
        <td><%= participant_attribute.attribute_id %></td>
        <td><%= participant_attribute.value %></td>
        <td><%= link_to 'Show', participant_attribute %></td>
        <td><%= link_to 'Edit', edit_participant_attribute_path(participant_attribute) %></td>
        <td><%= link_to 'Destroy', participant_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant attribute', new_participant_attribute_path %>
