<section class="widget">                        
<%= form_for [@participant, @participant_property] do |f| %>
  <% if @participant_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant_property.errors.count, "error") %> prohibited this participant_property from being saved:</h2>

      <ul>
      <% @participant_property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row control-group">
    <label class="col-md-4 control-label"><%= f.label :property_id, 'Property Label' %></label>
    <div class="col-md-8"><%= f.select(:property_id, Property.all.collect {|att| [att.label, att.id]}) %></div>
  </div>
  <div class="row control-group">
    <label class="col-md-4 control-label"><%= f.label :value %></label>
    <div class="col-md-8"><%= f.text_field :value %></div>
  </div>
  
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</section>
