<div class="row">
  <div class="col-md-12">
    <h2 class="page-title">Properties for Participant with ID:
      <%= @participant.id %></h2>

    <section class="widget">
      <table class="table table-striped no-margin sources-table">
        <thead>
          <tr>
            <th>Participant Property UUID</th>
            <th>Participant UUID</th>
            <th>Property ID</th>
            <th>Property Label</th>
            <th>Property Value</th>
          </tr>
        </thead>

        <tbody>
          <% @participant_properties.each do |participant_property| %>
          <tr>
            <td><%= participant_property.uuid %></td>
            <td><%= participant_property.participant_uuid %></td>
            <td><%= participant_property.property_id %></td>
            <td><%= participant_property.label %></td>
            <td><%= link_to participant_property.value, project_participant_participant_property_path(current_project, @participant, participant_property) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>